USE [MLBD]
GO
/****** Object:  Table [dbo].[AUPINVTR]    Script Date: 10/20/2023 5:52:43 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AUPINVTR]') AND type in (N'U'))
DROP TABLE [dbo].[AUPINVTR]
GO
/****** Object:  Table [dbo].[AUPINVTR]    Script Date: 10/20/2023 5:52:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AUPINVTR](
	[TRID] [bigint] IDENTITY(1,1) NOT NULL,
	[TRSYNID] [bigint] NULL,
	[TRINVID] [bigint] NULL,
	[TRAMT] [numeric](18, 2) NULL,
	[TRDATE] [date] NULL,
 CONSTRAINT [PK_AUPINVTR] PRIMARY KEY CLUSTERED 
(
	[TRID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AUPINVTR] ON 

INSERT [dbo].[AUPINVTR] ([TRID], [TRSYNID], [TRINVID], [TRAMT], [TRDATE]) VALUES (1, 1, 1, CAST(500.00 AS Numeric(18, 2)), CAST(N'2022-12-31' AS Date))
INSERT [dbo].[AUPINVTR] ([TRID], [TRSYNID], [TRINVID], [TRAMT], [TRDATE]) VALUES (2, 1, 1, CAST(1000.00 AS Numeric(18, 2)), CAST(N'2022-12-31' AS Date))
INSERT [dbo].[AUPINVTR] ([TRID], [TRSYNID], [TRINVID], [TRAMT], [TRDATE]) VALUES (3, 2, 1, CAST(1234.00 AS Numeric(18, 2)), CAST(N'2022-12-31' AS Date))
SET IDENTITY_INSERT [dbo].[AUPINVTR] OFF
GO
